*{
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    background-color: #272625;
    color: #FFFFFF;
}

form {
    display: flex;
    flex-direction: column;
}

form > input {
    background-color: #FFFFFF;
}

.container > input {
    margin-bottom: 1em;
    margin-top: 1em;
}
.btn {
    background-image: none;
    background-color: #FFD966;
    width: 100%;
    margin-top: 2em;
}
