* {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
}

body  {
   background-color: #FFD966;
   color: #FFFFFF;
}

.container-fluid .jumbotron {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 1em;
    text-align: justify-all;
    border-radius: 0px;
}

.jumbotron h1, h2 {
    text-align: center;
}

.equal* {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.equal* div[class*='col-'] {
    flex: 1 1 auto;
    display:flex;
}

.equal* .panel {
    flex-shrink: 0;
    flex: 1 0 100%;
}
