/************************
	GENERAL
************************/
* {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
}

body  {
   background-color: #272625;
   color: #FFFFFF;
}

/**********************
	HOMEBUTTONS
**********************/

.homeButtons {
    display: flex;
    justify-content: space-around; 
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #FFD966;
    padding-bottom: 10px;
}

.homeButtons > button {
    background-color: #FFD966;
}

@media (max-width: 768px) {
    .homeButtons {
	display: flex;
	align-items: center;
	flex-direction: column;
    }

    .btn {
	margin-bottom: 30px;
    }

}



/************************
	JUMBOTRON
************************/

.container-fluid .jumbotron {
    background-color: #272625;
    color: #FFFFFF;
    font-size: 1em;
    text-align: justify-all;
    border-radius: 0px;
}

.jumbotron h1 {
    text-align: center;
}

.jumbotron h1 {
    border: 2px;
    border-bottom-style: solid;
    border-bottom-color: #FFD966;
    padding-bottom: .2em;
}

.equal1 {
    padding-top: .7em;    
}

.equal* {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.equal* div[class*='col-'] {
    flex: 1 1 auto;
    display:flex;
}

.equal* .panel {
    flex-shrink: 0;
    flex: 1 0 100%;
}

/************************
	PANEL	
************************/

.panel {
    border-radius: 0px;    
}

.panel-default > .panel-heading {
    background-image: none;
    background-color: #191919;
    color: #FFFFFF;
    text-align: center;
}

.panel-heading:hover {
    text-align: center;
    background-color: #FFD966;
    color: #FFFFFF;
}

.panel-body {
    background-color: #FFFFFF   
}

.panel-body img {
    width: 100%;
    height: auto;
}

/*************************
 *	MODAL
 ************************/

.modal-content {
    background-color: #696969;
}

.list-group-item > a {
   color: #FFFFFF; 
}

.list-group-item {
    display: flex;
    justify-content: center;
    background-image: none;
    background-color: #696969;
    border-color: #696969;
    color: #FFFFFF;
} 

.list-group-item:hover > a {
    color: #FFD966; 
    text-decoration: none;
} 

h4 {
    display:flex;
    color: #FFD966;
    justify-content: center;
}

