/************************
	GENERAL
************************/
* {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
}

body  {
   background-color: #272625;
   color: #FFFFFF;
}

/************************
	PAGE HEADER
************************/

.page-header {
    border-bottom: 3px solid #FFD966; 
    display:flex;
    justify-content: space-between;
}

.page-header h1 {
    color: #FFD966;    
    text-transform: uppercase;
    margin-left: .5em;
}

.page-header small {
    color: #FFFFFF;
    text-transform: lowercase;
}

.price {
    margin-right: .5em;
}

.list {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #FFD966;
}

.list .list-group .list-group-item {
    background-image: none;
    background-color: #272625;
    color: #FFFFFF;
    border-radius: 0px;
    border-right-style: none;
    border-left-style: none;
    border-top-color: #DFDFDF;
    border-bottom-color: #DFDFDF;
}

.list .list-group .list-group-item:hover {
   color: #FFD966; 
}

.list-group-item span {
    background-color: transparent;    
    float: right;
}

.content > button {
    width: 100%;
    background-image: none;
    background-color: #000000;
    color: #FFD966;
}

.btn, .btn:hover, .btn:active, .btn:focus {
    color: #FFD966;
}

.content span {
    float: right;
}


/*
.container > div {
    display: flex;
    flex-direction: column;
}

 */


.btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn-group label {
    margin: 15px;
    background-image: none;
    color: #FFD966;
}


.btn {
    margin-bottom: 10px;
}






/************************
	  CHAT
************************/

.example-chat.l-demo-container {
    color: #000000;
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media(max-width: 768px) {
    .example-chat.l-demo-container {
	margin-bottom: 10px;
    }
}

.example-chat ul {
    list-style: none;
    padding: 20px;
    height: 200px;
    overflow: auto;
}

.example-chat ul .example-chat-username {
    margin-right: 10px;
}

.example-chat footer input {
    border: 1px solid #CED3DB;
    height: 40px;
    width: 100%;
}

.username {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #FFD966;
}


/************************
	  INCREMENT
	  BUTTONS
************************/

@media( max-width: 768px) { 
    .increment {
	display: inline-flex;
	margin-left: -.4em;
    }

    .quantity {
	margin: 0.5em 0.5em 0 0.5em;
    }

}

.increment > .btn  {
    background-image: none;
    background-color: #000000;
    border-color: #000000;
    margin: 3px;
}

.increment {
    display: inline-flex;
    margin-left: -.4em;
}

.quantity {
    margin: 0.5em 0.5em 0 0.5em;
}



/************************
	  TOTAL
************************/

.total {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.total > .btn {
    background-image: none;
    background-color: #FFD966;
    color: #000000;
}

.total > a {
    text-decoration: none;
    color: #000000;
}
