/************************
	GENERAL
************************/
* {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
}

body  {
   background-color: #272625;
   color: #FFFFFF;
}

/************************
	PAGE HEADER
************************/

.page-header {
    border-bottom: 3px solid #FFD966; 
}

.page-header h1 {
    color: #FFD966;    
    text-transform: uppercase;
}

.page-header small {
    color: #FFFFFF;
    text-transform: lowercase;
}

.list {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #FFD966;
}

.list .list-group .list-group-item {
    background-image: none;
    background-color: #272625;
    color: #FFFFFF;
    border-radius: 0px;
    border-right-style: none;
    border-left-style: none;
    border-top-color: #DFDFDF;
    border-bottom-color: #DFDFDF;
}

.list .list-group .list-group-item:hover {
   color: #FFD966; 
}

.list-group-item span {
    background-color: transparent;    
    float: right;
}

.content > button {
    width: 100%;
    background-image: none;
    background-color: #000000;
    color: #FFD966;
}

.btn, .btn:hover, .btn:active, .btn:focus {
    color: #FFD966;
}

.content span {
    float: right;
}


/*
.container > div {
    display: flex;
    flex-direction: column;
}
    */

.toggles {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

.btn {
    margin-bottom: 10px;
    text-align: center;
}

.btn.animated.pulse.active {
    -webkit-animation-iteration-count: infinite;
    color: #FFFFFF;
}

.toggles > .btn {
    background-image: none;
    background-color: #E0E0E0; 
    color: #FFFFFF;
}

.toggles > .btn:hover {
    background-color: #FFD966; 
}

.toggles > .btn.active {
    background-color: #FFD966; 
}




/************************
	  CHAT
************************/

.example-chat.l-demo-container {
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 2px;
}

.example-chat ul {
    list-style: none;
    padding: 20px;
    height: 200px;
    overflow: auto;
}

.example-chat ul .example-chat-username {
    margin-right: 10px;
}

.example-chat footer input {
    border: 1px solid #CED3DB;
    height: 40px;
    width: 100%;
}

