<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Latest compiled and minified CSS -->
<link rel="sytlesheet" href=https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700|Molengo' rel='stylesheet' type='text/css'>
<link href='../css/index.css' rel='stylesheet' type='text/css'>
<link href='../css/nav.css' rel='stylesheet' type='text/css'>
<link href='../css/footer.css' rel='stylesheet' type='text/css'>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<title>title</title>
</head>

<body>
<header class"main-header">
    <ul class="nav-custom">
	<li><a href="/">Home</a></li>
	<li><a href="/places">Full Restaurant List</a></li>
	<li><a href="/register">Register or Log In</a></li>
    </ul>
</header>
<div class="container-fluid">
    <div class="jumbotron">
	<h1>Welcome to bitePay</h1>
	<div class="homeButtons">
	    <button class="btn btn-defualt btn-lg" type="button">In-Line</button>
	    <button class="btn btn-defualt btn-lg" type="button">Need Food?</button>
	</div>
	<!--
	<div class="row equal1">
	    <div class="col-md-4">
		<a href="places/Einstein" rel="Einstein">
		    <div class="panel panel-default">
			<div class="panel-heading">Einstein's</div>
			<div class="panel-body"></div>
		    </div>
		</a>
	    </div>
	    <div class="col-md-4">
		<a href="places/Starbucks">
		    <div class="panel panel-default">
			<div class="panel-heading">Starbucks</div>
			<div class="panel-body"><img src="../img/Starbucks.png"></div>
		    </div>
		</a>
	    </div>
	    <div class="col-md-4">
		<a href="places/Panda">
		    <div class="panel panel-default">
			<div class="panel-heading">Panda Express</div>
			<div class="panel-body"><img src="../img/panda.png"></div>
		    </div>
		</a>
	    </div>
	</div>	<div class="row equal2">
	    <div class="col-md-4">
		<a href="places/Subway">
		    <div class="panel panel-default">
			<div class="panel-heading">Subway</div>
			<div class="panel-body"><img src="../img/Untitled.png"></div>
		    </div>
		</a>
	    </div>
	    <div class="col-md-4">
		<a href="places/Chickfila">
		    <div class="panel panel-default">
			<div class="panel-heading">Chick-fil-A</div>
			<div class="panel-body"><img src="../img/chickfila.png"></div>
		    </div>
		</a>
	    </div>
	    <div class="col-md-4">
		<a href="places/Moes">
		    <div class="panel panel-default">
			<div class="panel-heading">Moe's</div>
			<div class="panel-body"><img src="../img/moes.png"></div>
		    </div>
		</a>
	    </div>
	</div>	-->
    </div><!-- end jumbotron -->
</div><!-- end container -->
<div class="footer">
    <ul class="bottom">
	<li class="image">
	    <img src="../img/bitePay.PNG">
	    <p>Thanks for using bitePay</p>
	</li>
    </ul>
</div>
</body>
</html>
