<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Latest compiled and minified CSS -->
<link rel="sytlesheet" href=https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700|Molengo' rel='stylesheet' type='text/css'>
<link href='../css/nav.css' rel='stylesheet' type='text/css'>
<link href='../css/footer.css' rel='stylesheet' type='text/css'>
<link href='../css/places.css' rel='stylesheet' type='text/css'>
<link href='../css/animate.css' rel='stylesheet' type='text/css'>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
<script type="text/javascript" src="../js/places.js"></script>
<title>Restaurants</title>
</head>
<body>
<header class"main-header">
    <ul class="nav-custom">
	<li><a href="/">Home</a></li>
	<li><a href="/register">Register or Log In</a></li>
	<li><a href="/pay">Pay</a></li>
    </ul>
</header>
<div class="page-header">
</div> <!-- end page header -->
<div class="container">
    <div class="content">
	<button class="btn" id="menuItems" type="button" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false" aria-controls="collapseExample">
	    Menu Items<span class="glyphicon glyphicon-plus"></span>
	</button>
	<div class="collapse" id="collapseMenu">
	    <div class="list">
		<ul class="list-group">
		</ul>
	    </div> <!-- end list -->
	</div> <!-- end collapseMenu -->
	<button class="btn" id="Grizz" type="button" data-toggle="collapse" data-target="#collapseGrizz" aria-expanded="false" aria-controls="collapseExample">
	    Grizzlies In Line<span class="glyphicon glyphicon-plus"></span>
	</button>
	<div class="collapse" id="collapseGrizz">
	    <div class="container-fluid">
		<div class="toggles" data-toggle="buttons">
		</div><!-- end toggles -->
	    </div><!-- end container fluid -->
	</div><!-- end collapseGrizz -->
	<button class="btn" id="chatGrizz" type="button" data-toggle="collapse" data-target="#collapseChat" aria-expanded="false" aria-controls="collapseExample">
	    Chat<span class="glyphicon glyphicon-plus"></span>
	</button>
	    <!-- CHAT MARKUP -->
	    <div class="collapse" id="collapseChat">
		<div class="example-chat l-demo-container">
		    <div class='example-chat-toolbar'>
			<label for="nameInput">Username:</label>
			<input type='text' id='nameInput' placeholder='enter a username...'>
		    </div>

		    <ul id='example-messages' class="example-chat-messages"></ul>

		    <footer>
			<input type='text' id='messageInput'  placeholder='Type a message...'>
		    </footer>
		</div>
	    </div><!-- end collapseChat" -->


    </div><!-- content -->
</div><!-- end container -->
<div class="total">
    <h1 class="price" id="total">Total: &#36</h1>
</div>
</body>
<script>
    // CREATE A REFERENCE TO FIREBASE
var messagesRef = new Firebase('https://qixlntz2y1j.firebaseio-demo.com/');

// REGISTER DOM ELEMENTS
var messageField = $('#messageInput');
var nameField = $('#nameInput');
var messageList = $('#example-messages');

// LISTEN FOR KEYPRESS EVENT
messageField.keypress(function (e) {
    if (e.keyCode == 13) {
	//FIELD VALUES
	var username = nameField.val();
	var message = messageField.val();

	//SAVE DATA TO FIREBASE AND EMPTY FIELD
	messagesRef.push({name:username, text:message});
	messageField.val('');
    }
});

// Add a callback that is triggered for each chat message.
messagesRef.limitToLast(10).on('child_added', function (snapshot) {
    //GET DATA
    var data = snapshot.val();
    var username = data.name || "anonymous";
    var message = data.text;

    //CREATE ELEMENTS MESSAGE & SANITIZE TEXT
    var messageElement = $("<li>");
    var nameElement = $("<strong class='example-chat-username'></strong>")
    nameElement.text(username);
    messageElement.text(message).prepend(nameElement);

    //ADD MESSAGE
    messageList.append(messageElement)

    //SCROLL TO BOTTOM OF MESSAGE LIST
    messageList[0].scrollTop = messageList[0].scrollHeight;
});
</script>
